.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}







.App-header {
  background-color: #607ea0;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(247, 110, 195, 0.76);
}

/*
.App-link {
  color: #f0f6f8;
}
*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
